<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      href="https://cdn.staticfile.org/twitter-bootstrap/5.1.1/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <script src="https://cdn.staticfile.org/twitter-bootstrap/5.1.1/js/bootstrap.bundle.min.js"></script>
    <title>網頁管理程式</title>
    <style>
      body,
      html {
        height: 100%;
        margin: 0;
      }

      .button-container {
        display: flex;
        height: 100%;
      }

      .button {
        flex: 1;
        font-size: 5em;
        display: inline-flex;
        align-items: center;
        justify-content: center;
      }
    </style>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">網頁管理程式</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <!-- <a class="nav-link active" aria-current="page" href="/member"
                >首頁</a
              > -->
              <a
                class="nav-link active"
                aria-current="page"
                href="main_member.html"
                >首頁</a
              >
            </li>
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                id="navbarDropdown"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                功能
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li>
                  <!-- <a class="dropdown-item" href="/product_list">所有商品</a> -->
                  <a class="dropdown-item" href="product_list.html">所有商品</a>
                </li>
                <li><hr class="dropdown-divider" /></li>
                <li>
                  <!-- <a class="dropdown-item" href="/add_product">上架商品</a> -->
                  <a class="dropdown-item" href="add_product.html">上架商品</a>
                </li>
              </ul>
            </li>
          </ul>
          <form class="d-flex">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="navbarDropdown"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              歡迎登入
            </a>
            <button
              class="btn btn-outline-success"
              onclick="myFunction()"
              type="button"
            >
              登出
            </button>
          </form>
        </div>
      </div>
    </nav>

    <div class="container-fluid button-container">
      <!-- <a href="/product_list" class="btn btn-primary btn-lg button"
        >所有商品</a
      >
      <a href="/add_product" class="btn btn-secondary btn-lg button"
        >上架商品</a
      > -->
      <a href="product_list.html" class="btn btn-primary btn-lg button"
        >所有商品</a
      >
      <a href="add_product.html" class="btn btn-secondary btn-lg button"
        >上架商品</a
      >
    </div>
    <script>
      function myFunction() {
        var text = "確定要登出?";
        if (confirm(text) == true) {
          window.location.href = "/Website/templates/main.html";
        }
      }
    </script>
    <script src="../static/main_member.js"></script>
  </body>
</html>
