<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      href="https://cdn.staticfile.org/twitter-bootstrap/5.1.1/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <script src="https://cdn.staticfile.org/twitter-bootstrap/5.1.1/js/bootstrap.bundle.min.js"></script>
    <script src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.js"></script>
    <title>所有商品</title>
    <style>
      body,
      html {
        height: 100%;
        margin: 0;
      }

      .button-container {
        display: flex;
        height: 100%;
      }

      .button {
        flex: 1;
        font-size: 5em;
      }
    </style>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">網頁管理程式</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <!-- <a class="nav-link active" aria-current="page" href="/member"
                >首頁</a
              > -->
              <a
                class="nav-link active"
                aria-current="page"
                href="main_member.html"
                >首頁</a
              >
            </li>
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                id="navbarDropdown"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                功能
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li>
                  <!-- <a class="dropdown-item" href="/product_list">所有商品</a> -->
                  <a class="dropdown-item" href="product_list.html">所有商品</a>
                </li>
                <li><hr class="dropdown-divider" /></li>
                <li>
                  <!-- <a class="dropdown-item" href="/add_product">上架商品</a> -->
                  <a class="dropdown-item" href="add_product.html">上架商品</a>
                </li>
              </ul>
            </li>
          </ul>
          <form class="d-flex">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="navbarDropdown"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              歡迎登入
            </a>
            <button
              class="btn btn-outline-success"
              onclick="myFunction()"
              type="button"
            >
              登出
            </button>

          </form>
        </div>
      </div>
    </nav>
    <!-- Header-->
    <header class="bg-dark py-5">
        <div class="container px-4 px-lg-5 my-5">
            <div class="text-center text-white">

            <div class="container-fluid">
            <!-- 搜尋框 -->
                <form class="d-flex">
                    <input
                    id="searchBox"
                    class="form-control me-2"
                    type="search"
                    placeholder="Search"
                    aria-label="Search"
                    />
                    <button id="searchButton" class="btn btn-outline-success" type="button">
                    Search
                    </button>
                </form>
            </div>
        </div>
    </header>


    <!-- Section-->
    <section class="py-5">
      <div class="container px-4 px-lg-5 mt-5">
        <div id="ggggg" class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
          
          <div class="col mb-5" id="field${id}">
            <div class="card h-100">
              <!-- Product image-->
              <img
                class="card-img-top"
                src="ProductImages/Example1.jpg"
                alt="..."
              />
              <!-- Product details-->
              <div class="card-body p-4">
                <div class="text-center">
                  <!-- Product name-->
                  <h3 id="title${id}" class="fw-bolder">${title}</h3>
                  <!-- <h6 class="fw-bolder">author: ${author}</h6>
                  <h6 class="fw-bolder">ISBN: ${ISBN}</h6> -->
                </div>
              </div>
              <!-- Product actions-->
              <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                <div class="text-center">
                  <a id="reserve${id}" class="btn btn-outline-dark mt-auto" href="product_detail.html" onclick="reserve_book(this.id)"
                    >詳細資訊</a
                  >
                  <!-- <a id="borrow${id}" class="btn btn-outline-dark mt-auto" href="#" onclick="borrow_book(this.id)"
                    >借閱</a
                  > -->
                </div>
              </div>
            </div>
          </div>

          <div class="col mb-5" id="field${id}">
            <div class="card h-100">
              <!-- Product image-->
              <img
                class="card-img-top"
                src="ProductImages/Example2.jpg"
                alt="..."
              />
              <!-- Product details-->
              <div class="card-body p-4">
                <div class="text-center">
                  <!-- Product name-->
                  <h3 id="title${id}" class="fw-bolder">${title}</h3>
                  <!-- <h6 class="fw-bolder">author: ${author}</h6>
                  <h6 class="fw-bolder">ISBN: ${ISBN}</h6> -->
                </div>
              </div>
              <!-- Product actions-->
              <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                <div class="text-center">
                  <a id="reserve${id}" class="btn btn-outline-dark mt-auto" href="product_detail.html" onclick="reserve_book(this.id)"
                    >詳細資訊</a
                  >
                  <!-- <a id="borrow${id}" class="btn btn-outline-dark mt-auto" href="#" onclick="borrow_book(this.id)"
                    >借閱</a
                  > -->
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>

        </div>
      </div>
    </section>
    <script>
      function myFunction() {
        var text = "確定要登出?";
        if (confirm(text) == true) {
          window.location.href = "/";
        }
      }
    </script>
    <script src="static/product_list.js"></script>
  </body>
</html>
