<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      href="https://cdn.staticfile.org/twitter-bootstrap/5.1.1/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <script src="https://cdn.staticfile.org/twitter-bootstrap/5.1.1/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.3.2/socket.io.js"></script>
    <title>所有商品</title>
    <style>
      body,
      html {
        height: 100%;
        margin: 0;
      }

      .button {
        flex: 1;
        font-size: 5em;
      }

      .list-group-item.active {
        background-color: #007bff;
        color: #fff;
      }

      .list-group-item:hover {
        background-color: #f0f0f0;
        cursor: pointer;
      }
    </style>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">網頁管理程式</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <!-- <a class="nav-link active" aria-current="page" href="/member"
                >首頁</a
              > -->
              <a
                class="nav-link active"
                aria-current="page"
                href="main_member.html"
                >首頁</a
              >
            </li>
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                id="navbarDropdown"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                功能
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li>
                  <!-- <a class="dropdown-item" href="/product_list">所有商品</a> -->
                  <a class="dropdown-item" href="product_list.html">所有商品</a>
                </li>
                <li><hr class="dropdown-divider" /></li>
                <li>
                  <!-- <a class="dropdown-item" href="/add_product">上架商品</a> -->
                  <a class="dropdown-item" href="add_product.html">上架商品</a>
                </li>
              </ul>
            </li>
          </ul>
          <form class="d-flex">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="navbarDropdown"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              歡迎登入
            </a>
            <button
              class="btn btn-outline-success"
              onclick="myFunction()"
              type="button"
            >
              登出
            </button>
          </form>
        </div>
      </div>
    </nav>
    <!-- Header-->
    <header class="bg-dark py-3">
      <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
          <div class="container-fluid">
            <!-- 搜尋框 -->
            <form class="d-flex">
              <input
                id="searchBox"
                class="form-control me-2"
                type="search"
                placeholder="Search"
                aria-label="Search"
              />
              <button
                id="searchButton"
                class="btn btn-outline-success"
                type="button"
              >
                Search
              </button>
            </form>
          </div>
        </div>
      </div>
    </header>
    <!-- 切換模式按鈕 -->
    <button
      id="categoryModeButton"
      class="btn btn-primary"
      style="position: relative; bottom: 40px"
      onclick="toggleCategoryMode()"
    >
      分類模式
    </button>

    <!-- search Section-->
    <section id="searchSection" class="py-5" style="display: none">
      <div class="container px-4 px-lg-5 mt-5">
        <h1>搜尋結果</h1>
        <div
          id="searchArea"
          class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center"
        ></div>
      </div>
    </section>
    <!-- search Section -->

    <div id="productArea">
      <!-- no Tags Section-->
      <section id="noTagsSection" class="py-5" style="display: none">
        <div class="container px-4 px-lg-5 mt-5">
          <!-- additionalArea -->
          <div
            id="noTagsAdditionalArea"
            class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center"
          ></div>
          <!-- additionalArea end -->
        </div>
      </section>
      <!-- no Tags Section -->

      <!-- taggedSections -->
      <div id="taggedSections" class="container-fluid" style="display: block">
        <div class="row">
          <!-- 右側固定欄 -->
          <div class="col-md-3 order-md-2">
            <ul id="tagList" class="list-group sticky-top">
              <li class="list-group-item" data-section="all">
                顯示所有商品分類
              </li>
              <li class="list-group-item" data-section="section1">
                書房．辦公家具
              </li>
              <li class="list-group-item" data-section="section2">客廳家具</li>
              <li class="list-group-item" data-section="section3">餐廳家具</li>
              <li class="list-group-item" data-section="section4">廚房家具</li>
              <li class="list-group-item" data-section="section5">
                床・化妝台
              </li>
              <li class="list-group-item" data-section="section6">收納用品</li>
              <li class="list-group-item" data-section="section7">
                窗簾．窗飾用品
              </li>
              <li class="list-group-item" data-section="section8">
                孩童用品．嬰幼兒用品
              </li>
              <li class="list-group-item" data-section="section9">
                衣櫃・鞋櫃
              </li>
              <li class="list-group-item" data-section="section10">
                地毯．地墊
              </li>
              <li class="list-group-item" data-section="section11">其他</li>
              <!-- more -->
            </ul>
          </div>
          <!-- 右側固定欄 -->

          <!-- 左側商品 -->
          <div class="col-md-9 order-md-1">
            <section id="section1" class="py-5">
              <div class="container px-4 px-lg-5 mt-5">
                <h1>書房．辦公家具</h1>
                <div
                  id="study_office_furniture"
                  class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center"
                >
                  <h2>NO DATA</h2>
                </div>
              </div>
            </section>

            <section id="section2" class="py-5">
              <div class="container px-4 px-lg-5 mt-5">
                <h1>客廳家具</h1>
                <div
                  id="living_room_furniture"
                  class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center"
                >
                  <h2>NO DATA</h2>
                </div>
              </div>
            </section>

            <section id="section3" class="py-5">
              <div class="container px-4 px-lg-5 mt-5">
                <h1>餐廳家具</h1>
                <div
                  id="dining_room_furniture"
                  class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center"
                >
                  <h2>NO DATA</h2>
                </div>
              </div>
            </section>

            <section id="section4" class="py-5">
              <div class="container px-4 px-lg-5 mt-5">
                <h1>廚房家具</h1>
                <div
                  id="kitchen_furniture"
                  class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center"
                >
                  <h2>NO DATA</h2>
                </div>
              </div>
            </section>

            <section id="section5" class="py-5">
              <div class="container px-4 px-lg-5 mt-5">
                <h1>床・化妝台</h1>
                <div
                  id="beds_dressing_tables"
                  class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center"
                >
                  <h2>NO DATA</h2>
                </div>
              </div>
            </section>

            <section id="section6" class="py-5">
              <div class="container px-4 px-lg-5 mt-5">
                <h1>收納用品</h1>
                <div
                  id="storage_solutions"
                  class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center"
                >
                  <h2>NO DATA</h2>
                </div>
              </div>
            </section>

            <section id="section7" class="py-5">
              <div class="container px-4 px-lg-5 mt-5">
                <h1>窗簾．窗飾用品</h1>
                <div
                  id="curtains_window_decor"
                  class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center"
                >
                  <h2>NO DATA</h2>
                </div>
              </div>
            </section>

            <section id="section8" class="py-5">
              <div class="container px-4 px-lg-5 mt-5">
                <h1>孩童用品．嬰幼兒用品</h1>
                <div
                  id="children_baby_supplies"
                  class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center"
                >
                  <h2>NO DATA</h2>
                </div>
              </div>
            </section>

            <section id="section9" class="py-5">
              <div class="container px-4 px-lg-5 mt-5">
                <h1>衣櫃・鞋櫃</h1>
                <div
                  id="wardrobes_shoe_cabinets"
                  class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center"
                >
                  <h2>NO DATA</h2>
                </div>
              </div>
            </section>

            <section id="section10" class="py-5">
              <div class="container px-4 px-lg-5 mt-5">
                <h1>地毯．地墊</h1>
                <div
                  id="carpets_mats"
                  class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center"
                >
                  <h2>NO DATA</h2>
                </div>
              </div>
            </section>

            <section id="section11" class="py-5">
              <div class="container px-4 px-lg-5 mt-5">
                <h1>其他</h1>
                <div
                  id="other"
                  class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center"
                >
                  <h2>NO DATA</h2>
                </div>
              </div>
            </section>

            <!-- more -->
          </div>
          <!-- 左側商品 -->
        </div>
      </div>
      <!-- taggedSections -->
    </div>

    <script src="../static/product_list.js"></script>
  </body>
</html>
